body {
	background-color: grey;
}

#items-list {
	margin: 0 auto;
	width: 20%;
}
h1{
	text-align: center;
}
li {
  list-style:none;
  border: 2px solid black;
  width:200px;
  text-align:center;
  cursor: pointer;
  margin:10px;
  border-radius: 5px;
}
li:hover {
  background-color:lightgrey;
}