/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
================================================
			main.css
================================================*/

.hero{
	background-image: url(../img/background.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
}
.to_do_list{
	position: absolute;
	top: 2rem;
	right: 2rem;
}
.todo_heading{
	color: white;
	font-size: 1.2rem;
}
#todoValue{
	border-radius: 5px;
}
button:hover{
	background-color: grey;
}
ul{
	background-color: white;

}
ul li{
	border-bottom: 1px solid black;
	padding: 5px;
}
.deleteItem{
	position: absolute;
	right: 10px;
	cursor: pointer;
}
.checkedItem[type=checkbox] + span {
	text-decoration: none;
}


.checkedItem[type=checkbox]:checked + span {
	text-decoration: line-through;
} 
#welcome{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
#time, #heading{
	color: white;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
}
#time {
	font-size: 6rem;
	font-weight: 600;
}
#randomquotes{
	color: white;
	text-align: center;
	margin-top: 10px;
	font-size: 1.5rem;
	line-height: 1.5rem;
}
